*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: blue;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEE;
  padding: 20px;
}
header h1{
  font-size: 40px;
}

header h1 a{
  text-decoration: none;
  color: inherit;
}
header ul{
  display: flex;
  list-style: none;
}

header ul li{
  margin: 0 10px;
  font-size: 24px;
}


header ul li a{
  text-decoration: none;
  color: inherit;
}


/* intro section */

#intro{
  background-image: url("programmer.jpg");
  min-height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro div{
  background-color: rgba(0, 0, 255, 0.241);
  height: 100vh;
  width: 100%;
  padding: 2em;
  
}

#intro h1{
  font-size: 4em;
}

#intro p{
  font-size: 2em;
}

#intro i{
  color: white;
}

#intro i:hover{
  color: blue;
  transition: .3s;
}


/* services */

#services{
  text-align: center;
}

#services h3{
  font-size: 5em;
  margin: 1em 0;
}

#services .services-container{
  display: flex;
  gap: 1em;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

#services .service{
  color: black;
  border: 1px solid #EEE;
  padding: 1em;
  width: 400px;
}

.service h4{
  font-size: 3em;
}
#services i{
  font-size: 10em;
}

.service p{
  opacity: .6;
  font-size: 20px;
}

#html{
  color: orangered;
}

#css{
  color: blue;
}

#node{
  color: greenyellow;
}

#projects h3{
  font-size: 5em;
  margin: 1em 0;
  text-align: center;
}

#contact p{
  font-size: 50px;
    background-image: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff);

  

}
i